body,html{
	min-height: 100%;
}
.images{
	width: 500px;
	height:300px;
	position: relative;
}

.rounded{
	border-radius:50%;
	max-width: 100px;
	max-height: 100px;
	position: relative;
}

.contact{
	max-width: 75px;
	max-height: 20px;
	border-radius: 4px;
}

body{
	background-image: url(img/web.jpg) no-repeat;
	background-size: cover;
}