* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: "Ropa Sans", sans-serif;
  color: #fff;
  top: 0;
  left: 0;
  background-color: rgb(133, 130, 130);
  overflow-x: hidden;
}
a {
  text-decoration: none !important;
  cursor: pointer;
}
.content{
  max-width: 960px;
  background: darkgrey;
  margin: 20px auto;
}

nav{
  height: 10vh;
}

.home-page{
  background: url('../img/comptech-engineering.jpg') no-repeat;
  background-size: cover;
  height: 90vh;
}
.overlay{
  background: rgba(3, 20, 53, 0.5);
  height: 100%;
  max-height: 100vh;
  width: 100vw;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;


}

.home-text{
  text-align: left;
  /* padding: 10% 20%; */
}
.home-text h3{
  margin: 20px 0;
  letter-spacing: 5px;
}
.home-text h1{
  font-size: 60px;
  letter-spacing: 3px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: #05275375 2px 3px;
}

.home-text p{
  line-height: 28px;
}
.buttons{
  display: flex;
  margin-top: 20px;

}
.buttons .btn-right{
  margin-left: 40px;
}

/* ############################################################################# */
/* #############                   HOME-PAGE                      ############## */
/* ############################################################################# */
.container{
  margin-top: 4rem;
  border-radius: 5px;
  padding: 3rem;
  margin-bottom: 4rem;
}

.container-background{
  background-color: #0e4670;
}

#home {
  transition: all 0.5s;
}

.social-icons {
  display: flex;
  color: #fff;
  /* margin: 1rem; */
  /* padding: 5px; */
  justify-content: space-evenly;
}

.social-icons a {
  margin-right: 1em;
  box-sizing: border-box;
}

.social-icons a:hover {
  color: #0082e6;
  transition: all 0.5s ease-out;
}

.home-content {
  padding: 20px;
  height: 100%;
}


/* ############################################################################# */
/* #############                   CONTACT-PAGE                   ############## */
/* ############################################################################# */
.contact-us{
  background: url('../img/Comptech/contact\ us\ comptech\ engineering.jpeg') no-repeat;
  background-size: cover;
  height: 60vh;
  background-position: center;
}

.contact-us .overlay h1 {
  font-size: 5em;
}

.left-content h2 {
  font-size: 3em;
  /* margin: 15px; */
}
.left-content p {
  font-size: 1.5em;
}



.contact-text h3 {
  font-size: 30px;
  /* color: #111111; */
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.contact-text p {
  /* color: #111111; */
  margin-bottom: 32px;
}

.contact-text .ct-item {
  overflow: hidden;
  margin-bottom: 30px;
}

.contact-text .ct-item .ct-icon {
  height: 80px;
  width: 80px;
  background: #1c1d1c;
  border-radius: 50%;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  /* color: #ffffff; */
  float: left;
  margin-right: 30px;
}

.contact-text .ct-item .ct-text {
  overflow: hidden;
  padding-top: 12px;
}

.contact-text .ct-item .ct-text h5 {
  font-size: 20px;
  /* color: #ffffff; */
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.contact-text .ct-item .ct-text p {
  /* color: #ffffff; */
  margin-bottom: 0;
}

.contact-text .ct-item .ct-text ul li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
  font-size: 15px;
  /* color: #ffffff; */
  position: relative;
}

.contact-text .ct-item .ct-text ul li:after {
  position: absolute;
  right: -20px;
  top: -2px;
  content: "|";
}

.contact-text .ct-item .ct-text ul li:last-child {
  margin-right: 0;
}

.contact-text .ct-item .ct-text ul li:last-child:after {
  display: none;
}

.contact-form {
  max-width: 500px;
}
.contact-form h3 {
  font-size: 30px;
  /* color: #111111; */
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.contact-form form input {
  height: 50px;
  width: 100%;
  padding-left: 20px;
  font-size: 14px;
  color: #f6f3f3;
  background: transparent;
  margin-bottom: 30px;
  border: 1px solid #000;
}

.contact-form form input::-webkit-input-placeholder {
  color: #ffffff;
}

.contact-form form input::-moz-placeholder {
  color: #ffffff;
}

.contact-form form input:-ms-input-placeholder {
  color: #ffffff;
}

.contact-form form input::-ms-input-placeholder {
  color: #ffffff;
}

.contact-form form input::placeholder {
  color: #ffffff;
}

.contact-form form textarea {
  width: 100%;
  padding-left: 20px;
  padding-top: 12px;
  height: 100px;
  font-size: 14px;
  color: #ffffff;
  background: transparent;
  resize: none;
  border: 1px solid #000;
  margin-bottom: 24px;
}

.contact-form form textarea::-webkit-input-placeholder {
  color: #ffffff;
}

.contact-form form textarea::-moz-placeholder {
  color: #ffffff;
}

.contact-form form textarea:-ms-input-placeholder {
  color: #ffffff;
}

.contact-form form textarea::-ms-input-placeholder {
  color: #ffffff;
}

.contact-form form textarea::placeholder {
  color: #ffffff;
}

.site-btn {
  font-size: 15px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Quantico", sans-serif;
  display: inline-block;
  padding: 14px 30px 12px;
  background: #1c1d1c;
  border: none;
}

/* ############################################################################# */
/* #############                   SERVICES-PAGE                  ############## */
/* ############################################################################# */
.services{
  background: url('../img/Comptech/comptech\ engineering\ services.jpg') no-repeat;
  background-size: cover;
  height: 60vh;
  background-position: center;
}

.services .overlay h1 {
  font-size: 5em;
}

.technical {
  background: url(../img/technical.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.webdesign {
  background: url(../img/webdev.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.section-title{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
.section-title:after{
  content: "";
  background: #0082e6;
  display: block;
  height: 3px;
  width: 200px;
  margin: 15px auto;
}
.pricing-table{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: min(1600px, 100%);
  margin: auto;
}

.pricing-card{
  flex: 1;
  max-width: 360px;
  background-color: #fff;
  margin: 20px 10px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  color: #2d2d2d;
  transition: .3s linear;
}

.pricing-card-header{
  background-color: #0fbcf9;
  display: inline-block;
  color: #fff;
  padding: 12px 30px;
  border-radius: 0 0 20px 20px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  transition: .4s linear;
}

.pricing-card:hover .pricing-card-header{
  box-shadow: 0 0 0 26em #0fbcf9;
}

.price{
  font-size: 70px;
  color: #0fbcf9;
  margin: 40px 0;
  transition: .2s linear;
}

.price sup, .price span{
  font-size: 22px;
  font-weight: 700;
}

.pricing-card:hover ,.pricing-card:hover .price{
  color: #fff;
}

.pricing-card li{
  font-size: 16px;
  padding: 10px 0;
  text-transform: uppercase;
}

.order-btn{
  display: inline-block;
  margin-bottom: 40px;
  margin-top: 80px;
  border: 2px solid #0fbcf9;
  color: #0fbcf9;
  padding: 18px 40px;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 500;
  transition: .3s linear;
}

.order-btn:hover{
  background-color: #0fbcf9;
  color: #fff;
}



.networking {
  background: url(../img/networking.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.marketing {
  background: url(../img/digital-marketing.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.image img {
  min-width: 300px;
  /* height: 300px; */
}
.images-info {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 5%;
}

.images-info h3 {
  font-size: 40px;
}
.images-info p {
  max-width: 900px;
  font-size: 20px;
  font-weight: 900;
  line-height: 1.5;
  padding: 10px;
}



/* ############################################################################# */
/* #############                   ABOUT-PAGE                     ############## */
/* ############################################################################# */
.about{
  background: url('../img/Comptech/about\ comptech\ engineering.jpg') no-repeat;
  background-size: cover;
  height: 60vh;
  background-position: center;
}

.page-content {
  background: #0e4670;
  color: #fff;
  align-items: center;
  /* background: url(../img/long_background.jpeg) no-repeat;
  background-size: cover; */
}
.about-container {
  padding: 20px;
  max-width: 80%;
  display: grid;
  grid-gap: 50px;
  grid-template-areas:
    "our-discription our-discription"
    "crew crew";
  grid-template-columns: repeat(2, 1fr);
}
.hr-text {
  text-align: center;
  font-size: 26px;
  position: relative;
  border: 0;
  height: 1.5em;
}
.hr-text:before {
  content: "";
  background: linear-gradient(to right, transparent, #f5f2f2, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 2px;
}
.hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: #fff;
  padding: 0 0.5em;
  line-height: 1.5em;
  background:#0e4670;
}

/* .about-container h3 {
  margin-top: 40px;
  font-size: 2.5rem;
  margin-bottom: 20px;
  border-bottom: 1px solid #fff;
} */
.about-container .our-discription {
  text-align: center;
  /* font-size: 1.5rem; */
}

.team .crew {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.team .crew img {
  width: 200px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.team-item {
  width: 200px;
  background: #f5f5f5;
  text-align: center;
  margin-bottom: 30px;
  border-radius: 5px;
}

.team-item .ti-text {
  padding: 25px 0;
}

.team-item .ti-text h5 {
  font-size: 20px;
  color: #267bc0;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.team-item .ti-text P {
  padding: 10px;
  font-size: 15px;
  color: #000000;
  margin-bottom: 20px;
}

.team-item  a {
  position: relative;
  bottom: 0;
  color: #267bc0;
  float: right;
  margin-right: 15px;
}

.team-item .ti-text .ti-social a:last-child {
  margin-right: 0;
}

/* ############################################################################# */
/* #############                   PROJECTS-PAGE                  ############## */
/* ############################################################################# */
.portfolio{
  background: url('../img/Comptech/comptech\ engineering\ portfolio.jpg') no-repeat;
  background-size: cover;
  height: 90vh;
  background-position: center;
}

.portfolio h1{
  font-size: 4rem;
}
.portfolio p{
  font-size: 1.5rem;
}



.projects-details img {
  width: 100%;
}
/* .projects-details h1 {
  font-size: 100px;
} */

.projects {
  display: grid;

  grid-gap: 0.7rem;
  grid-template-columns: repeat(2, 1fr);
}
.projects img {
  width: 100%;
}

.btn,
.btn-dark,
.btn-light {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  background: rgba(3, 0, 0, 0.7);
  color: #fff;
  border-radius: 25px;
  cursor: pointer;
}
.btn:hover,
.btn-dark:hover,
.btn-light:hover {
  background: #00c0ff;
  color: #000;
}

.btn-dark {
  background: black;
  color: #fff;
}

.btn-light {
  background: #b3b3b3;
  color: #333;
}

/* ############################################################################# */
/* #############                     FOOTER                       ############## */
/* ############################################################################# */
footer {
  padding: 20px 0;
  background-color: #222;
}
.row {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  text-align: left;
  justify-content: space-evenly;
}
.company-container {
  margin: 0 15px;
  padding: 10px;
  display: block;
}

.company-logo {
  max-width: 250px;
}

.row-container {
  margin: 10px;
}
.row-container h5 {
  font-size: 20px;
}
.company {
  text-align: center;
  display: inline-block;
}

/* .company .logo-info {
  text-align: center;
  float: right;
  margin: 10px 10px;
} */
/* .company .logo-info h5 {
  font-size: 30px;
}
.company .logo-info h6 {
  font-size: 18px;
}
.moto {
  margin-bottom: 10px;
} */
.sig ul {
  font-size: 15px;
}
footer .sig {
  text-align: center;
  /* padding: 10px; */
  width: 100%;
  color: #aaa;
  /* height: 35vh; */
  z-index: 10;
}

.footer-mark {
  width: 70%;
  margin: 20px auto;
  border: 0;
  height: 2px;
  background-image: linear-gradient(
    to right,
    rgba(97, 86, 86, 0),
    rgba(97, 86, 86, 0.75),
    rgba(97, 86, 86, 0)
  );
}

footer .sig .mark {
  margin-top: 12px;
  padding: 10px 0;
  font-size: 15px;
  background: rgb(42, 38, 38);
}
footer .sig li a {
  color: #777;
}
footer .sig li a:hover {
  color: #0082e6;
}

/* ############################################################################# */
/* #############                   MEDIA-QUIRIES                  ############## */
/* ############################################################################# */

/* mobile */

@media all and (max-width: 415px) {
  /* .sidebar {
    left: -100%;
    width: 100%;
  }
  #check:checked ~ label #btn {
    left: 100%;
    opacity: 0;
    pointer-events: none;
  }
  #check:checked ~ label #cancel {
    left: 250px;
  }
  #check:checked ~ #home {
    margin-left: 100%;
  } */

  .main-text .large-heading {
    font-size: 30px;
  }
  .main-text .mid-text {
    font-size: 20px;
    line-height: 20px;
  }

  .team .crew .team-item {
    width: 200px;
  }
  .team .crew img {
    width: 200px;
  }

  .bottom-text {
    text-align: center;
    font-size: 15px;
    display: grid;
    grid-template-areas:
      "left-content"
      "contact-section";
    grid-template-columns: repeat(1, 1fr);
  }
  .left-content h2 {
    font-size: 2em;
    margin-top: 25px;
  }
  .left-content p {
    font-size: 1em;
  }
  .projects {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 952px) {
  
    
}

@media (max-width: 858px) {
  body{
    overflow-x: hidden;
  }
  .nav-links{
    position: absolute;
    right: 0px;
    height: 90vh;
    top: 10vh;
    background: rgb(0, 0, 0);
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li{
    opacity: 0;
  }
  .burger{
    display: block;
    cursor: pointer;
  }
  .nav-active{
    transform: translateX(0%);
  }
}

@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}
.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}
  .about-container {
    padding: 10px;
    max-width: 80%;
    display: grid;

    grid-template-areas: "our-discription";
    grid-template-columns: repeat(1, 1fr);
  }
  .contact-dev {
    text-align: center;
    padding: 5% 10%;
    grid-template-areas: "left-content";
    grid-template-columns: repeat(1, 1fr);
  }
  .projects {
    padding: 10%;
  }
  .banner-bg h1 {
    font-size: 40px;
  }
  .banner-bg {
    height: 100px;
  }


@media (max-width: 600px) {
  .slide-container {
    display: none;
  }
  .row-container h5 {
    font-size: 15px;
  }
  .sig ul {
    font-size: 12px;
  }
  /* .company-logo {
    max-width: 65px;
  } */
  .services-details h3 {
    font-size: 30px;
  }
  .services-details {
    text-align: center;
  }

  .images-info p {
    font-size: 18px;
    text-align: center;
  }
  .projects-details h1 {
    font-size: 30px;
  }

  .about-container h3 {
    font-size: 30px;
  }
  .about-container p {
    font-size: 20px;
  }
  .o-projects .banner-bg {
    font-size: 9px;
    background: none;
    color: white;
    height: 150px;
  }
  .services .banner-bg {
    font-size: 9px;
    background: none;
    color: white;
    height: 150px;
  }
}

/* tablet */
@media only screen and (min-width: 768px) {
}

/* desktop */
@media only screen and (min-width: 1000px) {
}
@media screen and (max-width:1100px){
  .pricing-card{
    flex: 50%;
  }
}