* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  padding: 0;
  font-family: "Ropa Sans", sans-serif;
  color: #fff;
  top: 0;
  left: 0;
}
a {
  color: #fff;
}
/* ############################################################################# */
/* #############                   NAVIGATION-BAR                 ############## */
/* ############################################################################# */
.sidebar {
  position: fixed;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #222;
  transition: all 0.5s ease;
}
.sidebar header {
  font-size: 22px;
  text-align: left;
  line-height: 40px;
  background: #fff;
  user-select: none;
}
.sidebar ul a {
  display: block;
  text-align: left;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 15px;
  color: white;
  text-transform: uppercase;
  padding-left: 20px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
}

.sidebar ul li:hover a {
  padding-left: 40px;
  color: #1b9bff;
  /* background: #1b9bff; */
  /* border: 1px solid #fff; */
  box-sizing: border-box;
  transition: 0.5s;
}
.sidebar ul a.active {
  color: #1b9bff;
  box-shadow: 0.5px 0.5px 2px 2px #1b9bff;
}
.sidebar ul a i {
  margin: 10px;
}
#check {
  display: none;
}
label #btn,
label #cancel {
  position: fixed;
  z-index: 6;
  cursor: pointer;
}
label #btn {
  left: 40px;
  top: 25px;
  font-size: 35px;
  color: white;
  padding: 2px 4px;
  transition: all 0.5s;
}
label #cancel {
  z-index: 1;
  left: -195px;
  top: 17px;
  font-size: 30px;
  color: #000;
  padding: 4px 9px;
  transition: all 0.5s ease;
}
#check:checked ~ .sidebar {
  left: 0;
}
#check:checked ~ label #btn {
  left: 250px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel {
  left: 205px;
}
#check:checked ~ #home {
  margin-left: 250px;
}

.brand {
  color: #000;
  font-size: 50px;
}
.brand h6 {
  color: #0082e6;
  font-size: 0.4em;
  margin-left: 30%;
}
.moto {
  margin: 0 10px;
  font-size: 15px;
}
h1,
h2,
h3,
h4 {
  font-weight: 400;
}

.lg-heading {
  font-size: 5rem;
}

.sm-heading {
  font-size: 0.9em;
  margin-top: 2rem;
  margin-bottom: 2rem;
  /* padding: 0.2rem 1rem; */
  text-align: center;
}

/* ############################################################################# */
/* #############                   HOME-PAGE                      ############## */
/* ############################################################################# */
.main {
  background: rgb(24, 26, 27);
  /* background-size: cover;
  background-position: center; */
  height: 100%;

  padding: 0px;
  text-align: center;
}

#home {
  transition: all 0.5s;
}

.social-icons {
  display: flex;
  color: #fff;
  /* margin: 1rem; */
  /* padding: 5px; */
  justify-content: space-evenly;
}

.social-icons a {
  margin-right: 1em;
  box-sizing: border-box;
}

.social-icons a:hover {
  color: #0082e6;
  transition: all 0.5s ease-out;
}

.home-content {
  padding: 20px;
  height: 100%;
}
.hovv img {
  width: 100px;
}

.hovv {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 20px auto;
  width: 65px;
  height: 65px;
  background: rgb(24, 26, 27);
  border-radius: 50%;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 2px;
  transition: 1s box-shadow;
}

.hovv:hover {
  box-shadow: 0 5px 35px 0px rgba(0, 0, 0, 0.1);
}

.hovv:hover:before,
.hovv:hover:after {
  display: block;
  content: "";
  position: absolute;
  width: 65px;
  height: 65px;
  background: #272829;
  border-radius: 50%;
  z-index: -1;
  animation: 1s clockwise infinite;
}

.hovv:hover:after {
  background: #b75ef3;
  animation: 2s counterclockwise infinite;
}

@keyframes clockwise {
  0% {
    top: -5px;
    left: 0;
  }
  12% {
    top: -2px;
    left: 2px;
  }
  25% {
    top: 0;
    left: 5px;
  }
  37% {
    top: 2px;
    left: 2px;
  }
  50% {
    top: 5px;
    left: 0;
  }
  62% {
    top: 2px;
    left: -2px;
  }
  75% {
    top: 0;
    left: -5px;
  }
  87% {
    top: -2px;
    left: -2px;
  }
  100% {
    top: -5px;
    left: 0;
  }
}

@keyframes counterclockwise {
  0% {
    top: -5px;
    right: 0;
  }
  12% {
    top: -2px;
    right: 2px;
  }
  25% {
    top: 0;
    right: 5px;
  }
  37% {
    top: 2px;
    right: 2px;
  }
  50% {
    top: 5px;
    right: 0;
  }
  62% {
    top: 2px;
    right: -2px;
  }
  75% {
    top: 0;
    right: -5px;
  }
  87% {
    top: -2px;
    right: -2px;
  }
  100% {
    top: -5px;
    right: 0;
  }
}
.main-text {
  margin: auto;
}

.main-text .logo-in h2 {
  font-size: 5em;
  font-weight: bolder;
}
.main-text .logo-in h5 {
  color: rgb(253, 250, 250);
  font-size: 5em;
}
.main-text .logo-in h6 {
  color: #0082e6;
  font-size: 3em;
  /* margin-left: 30%; */
}
.mid-text {
  font-size: 1.5em;
  padding: 10px;
  text-transform: capitalize;
  color: #000;
  font-weight: 200;
}

.bottom-text p {
  /* text-align: left; */
  font-size: 1.5em;
  font-weight: 100;
  padding: 5px;
}
.bottom-text hr {
  margin: 12px 0;
  border: 0;
  text-align: center;
}
.bottom-text hr:before {
  content: "\2022    \2022   \2022   \2022    \2022";
  font-size: 30px;
  color: #4f8bca;
}

/* flipping cards */

.flip-cards {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.flip-card {
  cursor: pointer;
  width: 250px;
  height: 143px;
  margin: 10px;
}
/* .flip-front.c-1 {
  background: #b75ef3;
}
.flip-front.c-2 {
  background-color: #2f2cb8;
}
.flip-front.c-3 {
  background-color: #1db817;
}
.flip-front.c-4 {
  background-color: #f3bf5e;
} */

.flip-front img {
  width: 100%;
}
.flip-front,
.flip-back {
  width: 250px;
  height: 143px;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;

  transition: transform 0.6s linear;
}

.flip-front {
  transform: perspective(400px) rotateY(0deg);
}
.flip-back {
  background: rgb(238, 242, 243);
  transform: perspective(400px) rotateY(180deg);
}
.flip-back-content {
  padding: 40px;

  font-size: 15px;
  font-weight: bolder;
  color: rgb(47, 43, 43);
  text-align: center;

  width: 100%;
}
.flip-card:hover > .flip-front {
  transform: perspective(600px) rotateY(-180deg);
}
.flip-card:hover > .flip-back {
  transform: perspective(600px) rotateY(0deg);
}

.cards {
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.card {
  cursor: pointer;
  width: 200px;
  height: 340px;
}
.front,
.back {
  width: 200px;
  height: 340px;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  transition: transform 0.6s linear;
}
.front img {
  height: 100%;
}
.front {
  transform: perspective(400px) rotateY(0deg);
}
.back {
  background: rgb(46, 43, 43);
  transform: perspective(400px) rotateY(180deg);
}
.back-content {
  margin-top: 20%;
  padding: 20px;
  font-size: 18px;
  color: #fff;
  text-align: center;
  align-items: center;
  width: 100%;
}
.card:hover > .front {
  transform: perspective(600px) rotateY(-180deg);
}
.card:hover > .back {
  transform: perspective(600px) rotateY(0deg);
}

/* ############################################################################# */
/* #############                   CONTACT-PAGE                   ############## */
/* ############################################################################# */
.left-content h2 {
  font-size: 3em;
  /* margin: 15px; */
}
.left-content p {
  font-size: 1.5em;
}

.contact-content {
  background: url(../img/contact.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  /* margin-top: -25px; */
}
.container {
  padding: 5%;
}

.contact-text h3 {
  font-size: 30px;
  /* color: #111111; */
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.contact-text p {
  /* color: #111111; */
  margin-bottom: 32px;
}

.contact-text .ct-item {
  overflow: hidden;
  margin-bottom: 30px;
}

.contact-text .ct-item .ct-icon {
  height: 80px;
  width: 80px;
  background: #1c1d1c;
  border-radius: 50%;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  /* color: #ffffff; */
  float: left;
  margin-right: 30px;
}

.contact-text .ct-item .ct-text {
  overflow: hidden;
  padding-top: 12px;
}

.contact-text .ct-item .ct-text h5 {
  font-size: 20px;
  /* color: #ffffff; */
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.contact-text .ct-item .ct-text p {
  /* color: #ffffff; */
  margin-bottom: 0;
}

.contact-text .ct-item .ct-text ul li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
  font-size: 15px;
  /* color: #ffffff; */
  position: relative;
}

.contact-text .ct-item .ct-text ul li:after {
  position: absolute;
  right: -20px;
  top: -2px;
  content: "|";
}

.contact-text .ct-item .ct-text ul li:last-child {
  margin-right: 0;
}

.contact-text .ct-item .ct-text ul li:last-child:after {
  display: none;
}

.contact-form {
  max-width: 500px;
}
.contact-form h3 {
  font-size: 30px;
  /* color: #111111; */
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.contact-form form input {
  height: 50px;
  width: 100%;
  padding-left: 20px;
  font-size: 14px;
  color: #f6f3f3;
  background: transparent;
  margin-bottom: 30px;
  border: 1px solid #000;
}

.contact-form form input::-webkit-input-placeholder {
  color: #ffffff;
}

.contact-form form input::-moz-placeholder {
  color: #ffffff;
}

.contact-form form input:-ms-input-placeholder {
  color: #ffffff;
}

.contact-form form input::-ms-input-placeholder {
  color: #ffffff;
}

.contact-form form input::placeholder {
  color: #ffffff;
}

.contact-form form textarea {
  width: 100%;
  padding-left: 20px;
  padding-top: 12px;
  height: 100px;
  font-size: 14px;
  color: #ffffff;
  background: transparent;
  resize: none;
  border: 1px solid #000;
  margin-bottom: 24px;
}

.contact-form form textarea::-webkit-input-placeholder {
  color: #ffffff;
}

.contact-form form textarea::-moz-placeholder {
  color: #ffffff;
}

.contact-form form textarea:-ms-input-placeholder {
  color: #ffffff;
}

.contact-form form textarea::-ms-input-placeholder {
  color: #ffffff;
}

.contact-form form textarea::placeholder {
  color: #ffffff;
}

.site-btn {
  font-size: 15px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Quantico", sans-serif;
  display: inline-block;
  padding: 14px 30px 12px;
  background: #1c1d1c;
  border: none;
}

/*
.contact-dev {
  display: grid;
  
  padding: 5% 10%;
  grid-template-areas: "left-content contact-section";
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}
.contact-section h1 {
  text-align: center;
  color: #ddd;
}

.contact-form {
  max-width: 30em;
  margin: auto;
  padding: 0 1px;
  overflow: hidden;
}

.contact-form-text {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 10px 0;
  border: 0;
  background: #000;
  padding: 10px 20px;
  outline: none;
  color: #ddd;
  transition: 0.5s;
}
.contact-form-text:hover {
  box-shadow: 0 0 10px 4px #34495e;
}
textarea.contact-form-text {
  resize: none;
  height: 50px;
}
.contact-form-btn {
  float: right;
  border: 0;
  background: #111;
  color: #fff;
  padding: 6px 25px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.contact-form-btn:hover {
  background: #2980b9;
} */

/* .home {
  overflow: hidden;
} */

/* ############################################################################# */
/* #############                   SERVICES-PAGE                  ############## */
/* ############################################################################# */
.services {
  background: rgb(24, 26, 27);
  height: 100%;
}
.services .banner-bg {
  background: url(../img/service-bg.jpeg) no-repeat;
  background-size: cover;
  text-align: center;
  height: 200px;
  margin: 0;
  /* padding: 40px; */
  color: #fff;
}
.banner-bg h1 {
  font-size: 5em;
}
/* .services-details {
  padding: 20px;
} */

.wrapp {
  margin-top: 10%;
}
.technical {
  background: url(../img/technical.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.webdesign {
  background: url(../img/webdev.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.networking {
  background: url(../img/networking.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.marketing {
  background: url(../img/digital-marketing.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.overlay {
  background: rgba(0, 0, 0, 0.5);
  background-size: cover;
  width: 100%;
  height: 100%;
}
.image img {
  min-width: 300px;
  /* height: 300px; */
}
.images-info {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 5%;
}

.images-info h3 {
  font-size: 40px;
}
.images-info p {
  font-weight: 600;
  line-height: 30px;
  padding: 10px;
}

/* ############################################################################# */
/* #############                 COMMUNITY-PAGE                   ############## */
/* ############################################################################# */
.community {
  background: #1b9bff;
}
.community img {
  width: 100%;
}
/* ############################################################################# */
/* #############                   ABOUT-PAGE                     ############## */
/* ############################################################################# */
.page-content {
  background: rgb(24, 26, 27);
  color: #fff;
  align-items: center;
  /* background: url(../img/long_background.jpeg) no-repeat;
  background-size: cover; */
}
.about-container {
  padding: 20px;
  max-width: 80%;
  display: grid;
  grid-gap: 50px;
  grid-template-areas:
    "our-discription our-discription"
    "crew crew";
  grid-template-columns: repeat(2, 1fr);
}
.hr-text {
  font-size: 26px;
  position: relative;
  border: 0;
  height: 1.5em;
}
.hr-text:before {
  content: "";
  background: linear-gradient(to right, transparent, #f5f2f2, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 2px;
}
.hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: #fff;

  padding: 0 0.5em;
  line-height: 1.5em;
  color: #fff;
  background: rgb(24, 26, 27);
}

/* .about-container h3 {
  margin-top: 40px;
  font-size: 2.5rem;
  margin-bottom: 20px;
  border-bottom: 1px solid #fff;
} */
.about-container .our-discription {
  text-align: center;
  /* font-size: 1.5rem; */
}

.team .crew {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.team .crew img {
  width: 300px;
  /* height: 250px;
 
  border-radius: 5%;
  box-shadow: 2px 2px 7px #fff; */
}

.team-item {
  width: 300px;
  background: #f5f5f5;
  text-align: center;
  margin-bottom: 30px;
}

.team-item .ti-text {
  padding: 25px 0;
}

.team-item .ti-text h5 {
  font-size: 20px;
  color: #111111;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.team-item .ti-text span {
  display: block;
  font-size: 15px;
  color: #009603;
  margin-bottom: 20px;
}

.team-item .ti-text .ti-social a {
  color: #666666;
  font-size: 15px;
  display: inline-block;
  margin-right: 20px;
}

.team-item .ti-text .ti-social a:last-child {
  margin-right: 0;
}

/* ############################################################################# */
/* #############                   PROJECTS-PAGE                  ############## */
/* ############################################################################# */
.o-projects {
  background: rgb(24, 26, 27);
  height: 100%;
}
.o-projects .banner-bg {
  background: url(../img/projects.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  height: 200px;
  margin: 0;
  /* padding: 40px; */
  color: #fff;
}
.projects-details img {
  width: 100%;
}
/* .projects-details h1 {
  font-size: 100px;
} */

.projects {
  display: grid;
  padding: 7%;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(2, 1fr);
}
.projects img {
  width: 100%;
  border: 3px #fff solid;
}
.projects img:hover {
  opacity: 0.7;
  border-color: #00c0ff;
  transition: all 0.5s ease-out;
}
.btn,
.btn-dark,
.btn-light {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
}
.btn:hover,
.btn-dark:hover,
.btn-light:hover {
  background: #00c0ff;
  color: #000;
}

.btn-dark {
  background: black;
  color: #fff;
}

.btn-light {
  background: #b3b3b3;
  color: #333;
}

/* ############################################################################# */
/* #############                     FOOTER                       ############## */
/* ############################################################################# */
footer {
  padding: 20px 0;
  background-color: #222;
}
.row {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  text-align: left;
  justify-content: space-evenly;
}
.company-container {
  margin: 0 15px;
  padding: 10px;
  display: block;
}

.company-logo {
  max-width: 65px;
}

.row-container {
  margin: 10px;
}
.row-container h5 {
  font-size: 20px;
}
.company {
  text-align: center;
  display: inline-block;
}

.company .logo-info {
  text-align: center;
  float: right;
  margin: 10px 10px;
}
.company .logo-info h5 {
  font-size: 30px;
}
.company .logo-info h6 {
  font-size: 18px;
}
.sig ul {
  font-size: 15px;
}
footer .sig {
  text-align: center;
  /* padding: 10px; */
  width: 100%;
  color: #aaa;
  /* height: 35vh; */
  z-index: 10;
}

.footer-mark {
  width: 70%;
  margin: 20px auto;
  border: 0;
  height: 2px;
  background-image: linear-gradient(
    to right,
    rgba(97, 86, 86, 0),
    rgba(97, 86, 86, 0.75),
    rgba(97, 86, 86, 0)
  );
}

footer .sig .mark {
  margin-top: 12px;
  padding: 10px 0;
  font-size: 15px;
  background: rgb(42, 38, 38);
}
footer .sig li a {
  color: #777;
}
footer .sig li a:hover {
  color: #0082e6;
}

/* ############################################################################# */
/* #############                   MEDIA-QUIRIES                  ############## */
/* ############################################################################# */

/* mobile */

@media all and (max-width: 415px) {
  .sidebar {
    left: -100%;
    width: 100%;
  }
  #check:checked ~ label #btn {
    left: 100%;
    opacity: 0;
    pointer-events: none;
  }
  #check:checked ~ label #cancel {
    left: 250px;
  }
  #check:checked ~ #home {
    margin-left: 100%;
  }

  .main-text .large-heading {
    font-size: 30px;
  }
  .main-text .mid-text {
    font-size: 20px;
    line-height: 20px;
  }

  .team .crew .team-item {
    width: 200px;
  }
  .team .crew img {
    width: 200px;
  }

  .bottom-text {
    text-align: center;
    font-size: 15px;
    display: grid;
    grid-template-areas:
      "left-content"
      "contact-section";
    grid-template-columns: repeat(1, 1fr);
  }
  .left-content h2 {
    font-size: 2em;
    margin-top: 25px;
  }
  .left-content p {
    font-size: 1em;
  }
  .projects {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 952px) {
}

@media (max-width: 858px) {
  .about-container {
    padding: 10px;
    max-width: 80%;
    display: grid;

    grid-template-areas: "our-discription";
    grid-template-columns: repeat(1, 1fr);
  }
  .contact-dev {
    text-align: center;
    padding: 5% 10%;
    grid-template-areas: "left-content";
    grid-template-columns: repeat(1, 1fr);
  }
  .projects {
    padding: 10%;
  }
  .banner-bg h1 {
    font-size: 40px;
  }
  .banner-bg {
    height: 100px;
  }
}

@media (max-width: 600px) {
  .slide-container {
    display: none;
  }
  .row-container h5 {
    font-size: 15px;
  }
  .sig ul {
    font-size: 12px;
  }
  /* .company-logo {
    max-width: 65px;
  } */
  .services-details h3 {
    font-size: 30px;
  }
  .services-details {
    text-align: center;
  }

  .images-info p {
    font-size: 18px;
    text-align: center;
  }
  .projects-details h1 {
    font-size: 30px;
  }

  .about-container h3 {
    font-size: 30px;
  }
  .about-container p {
    font-size: 20px;
  }
  .o-projects .banner-bg {
    font-size: 9px;
    background: none;
    color: white;
    height: 150px;
  }
  .services .banner-bg {
    font-size: 9px;
    background: none;
    color: white;
    height: 150px;
  }
}

/* tablet */
@media only screen and (min-width: 768px) {
}

/* desktop */
@media only screen and (min-width: 1000px) {
}
